
body {
  background: url("img/bkgd.jpg");
  text-decoration: none;
}
.buttons {
  display: float;
  justify-content: space-around;
  margin: 0px 10px 30px 10px;
}

.title {
  border-radius: 40px;
}

button {
  margin: 7px;
  border-radius: 10px;
  color: brown;
  font-family: sans-serif;
  animation-name: blinkyLight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
h1 {
  color: brown;
  font-family: sans-serif;
  animation-name: blinkyLight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  text-align: center;
}

.forward {
  float: right;
}

a {
  color: brown;
  animation-name: blinkyLight;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes blinkyLight {
  0% {background-color: lightcyan;}
  25% {background-color: palegreen;}
  50% {background-color: whitesmoke;}
  75% {background-color: lightpink;}
  100% {background-color: lightcyan;}
}